@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

$primary-color: #3d5af1;
$primary-color-darker: #2b43bb;
$secondary-color: #303a52;
$secondary-color-darker: #202736;


/*
    Global Styles
*/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Open Sans, Tahoma, sans-serif;
}

body
{
    min-height: 100vh;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 45deg,#0f2027,#2c5364 );
    background-attachment: fixed;
}

a
{
    font-weight: bold;
    color: inherit;
    transition: .3s all;
}

.hidden
{
    display: none !important;
}


/*
    Forms
*/

.form-container
{
    height: 85vh;
    width: 85vw;
    max-width: 500px;
    max-height: 800px;
    min-height: 550px;
    padding: 5rem 2rem;
    margin: 7.5vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    box-shadow: 0 0 20px 0 rgba( 0,0,0,.4 );
    background-color: $primary-color;
    color: #FFF;
    position: relative;
    text-shadow: 0 0 15px rgba( 0,0,0,.4 ), 0 0 5px rgba( 0,0,0,.5 );

    & .form-title
    {
        text-align: center;
        margin: 0;
        font-size: 2.8rem;
    }

    & form
    {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        width: 100%;
        max-width: 300px;

        & input
        {
            outline: none;
            font-family: inherit;
            border: none;
            padding: .5rem 1rem;
            border-radius: 100rem;
            transition: .3s all;

            &:focus,
            &[type="submit"]:hover
            {
                box-shadow: 0 0 10px 0 rgba( 0,0,0,.5 );
            }

            &[type="submit"]
            {
                font-size: 1.2rem;
                background-color: $secondary-color;
                color: #FFF;
            }

            &[type="submit"]:hover,
            &[type="submit"]:focus
            {
                background-color: $secondary-color-darker
            }
        }
    }

    & p
    {
        text-align: center;
    }
}


/*
    Dashboard
*/

.dashboard-container
{
    background-color: $primary-color;
    color: #FFF;
    padding: 5rem 2rem;
    margin: 5vh auto;
    width: 90vw;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5vmin;
    box-shadow: 0 0 20px 0 rgba( 0,0,0,.4 );

    & h1
    {
        text-align: center;
    }

    & .logout-button
    {
        background-color: $secondary-color;
        display: table;
        margin: .5rem auto 0;
        padding: .5rem 1rem;
        text-decoration: none;
        border-radius: 100rem;
        font-weight: normal;
        font-size: .8em;
        box-shadow: 0 0 10px 0 rgba( 0,0,0,.4 );
        transition: .3s all;

        &:hover,
        &:focus
        {
            background-color: $secondary-color-darker;
            box-shadow: 0 0 20px 0 rgba( 0,0,0,.4 );
        }
    }

    & .online-users
    {
        overflow-x: auto;
        width: 100%;

        & table
        {
            border-collapse: collapse;
            background-color: #FFF;
            box-shadow: 0 0 20px 0 rgba( 0,0,0,.4 );
            max-width: 100%;
            margin: auto;

            & td,
            & th
            {
                padding: 1rem 1.5rem;
                color: $secondary-color;
                border: none;
                transition: .3s all;
            }

            & th
            {
                color: #FFF;
                background-color: $secondary-color-darker;

                &.last-updated
                {
                    font-size: .8em;
                    padding: .5rem;
                    font-weight: normal;
                    color: rgba( 255,255,255,.5);
                }
            }

            & tr:nth-child( even ) td
            {
                background-color: rgba( 0,0,0,.1 );
            }

            & tr:hover td
            {
                cursor: pointer;
                color: #FFF;
                background-color: $primary-color;
            }
        }
    }
}


/*
    Modal
*/

.modal
{
    position: fixed;
    top: 50px;
    height: 90vh;
    width: 90vw;
    max-width: 800px;
    max-height: 500px;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba( 0,0,0,.4 );
    z-index: 999;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transform: translateY( -20px );
    transition: .3s all;

    &.shown
    {
        pointer-events: all;
        opacity: 1;
        transform: translateY( 0 );
    }

    & .modal-title
    {
        background-color: $secondary-color;
        color: #FFF;
        padding: 2rem;
        text-align: center;
        position: relative;

        & .close-modal-button
        {
            padding: .5rem;
            background: none;
            position: absolute;
            border: none;
            right: 1.5rem;
            top: 1.5rem;
            cursor: pointer;
            color: rgba( 255,255,255,.7 );

            &::before,
            &::after
            {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                width: 140%;
                background-color: currentColor;
                left: 0;
                bottom: 0;
                transform-origin: left;
                transform: rotate( -45deg );
                transition: .3s all;
            }

            &::after
            {
                left: auto;
                right: 0;
                transform-origin: right;
                transform: rotate( 45deg );
            }

            &:hover
            {
                color: #FFF;
            }
        }
    }

    & .modal-content
    {
        color: $secondary-color;
        padding: 5rem;
        line-height: 2;
    }
}

.overlay
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 0,0,0,.4 );
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .3s all;

    &.shown
    {
        opacity: 1;
        pointer-events: all;
    }
}


/*
    Loader
*/
.loader
{
    position: relative;
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    transition: .3s all;

    &.shown
    {
        opacity: 1;
        pointer-events: all;
    }

    &::before
    {
        content: '';
        display: block;
        height: 1em;
        width: 1em;
        border-radius: 100%;
        border: 2px solid #FFF;
        border-top-color: transparent;
        animation: .3s spin linear infinite;
    }

    &:not( .loader-full-size ):not( .loader-full-screen )
    {
        margin: 0 1em;
    }

    &.loader-full-size,
    &.loader-full-screen
    {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba( 0,0,0,.4 );

        &::before
        {
            height: 2em;
            width: 2em;
        }
    }

    &.loader-full-screen
    {
        position: fixed;
        z-index: 90;
    }
}


/*
    Toasts
*/
.toasts-container
{
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 400px;
    padding: 10px;


    & .toast
    {
        background-color: #3399ff;
        color: #FFF;
        font-family: Poppins;
        padding: 1rem 2rem;
        box-shadow: 0 0 10px 0 rgba( 0,0,0,.2 );
        border-radius: .5rem;
        margin-bottom: 15px;

        &.toast-success
        {
            background-color: #4caf50;
        }

        &.toast-error
        {
            background-color: #d32f2f;
        }

        &.fading-out
        {
            animation: .3s fade-out forwards;
        }
    }
}


/*
    Animations
*/

@keyframes spin
{
    from { transform: rotate( 0 ); }
    to { transform: rotate( 360deg ); }
}

@keyframes fade-out
{
    from { opacity: 1; pointer-events: none; }
    to { opacity: 0; pointer-events: none; }
}


/*
    Media Queries
*/

@media screen and ( max-width: 600px )
{
    .dashboard-container 
    {
        & h1
        {
            font-size: 1.5rem;
        }

        & table
        {
            & th,
            & td
            {
                padding: .3rem .5rem;
                font-size: .8rem;
            }
        }
    }

    .modal
    {
        & .modal-title h2
        {
            font-size: 1rem;
        }

        & .modal-content
        {
            padding: 4rem 2rem;
            font-size: .8rem;
        }
    }

    .form-container
    {
        padding: 2rem;
        row-gap: 2rem;
    }
}